<div style="position: relative; background-color: aliceblue;  ">
<h2 mat-dialog-title>Add Leader</h2>

<mat-dialog-content>

<label for="name" style="margin-left: 22%;"><strong>Enter Leader Name:</strong></label><input  id="name" type="text" style="border: none; margin-left: 22%;">
<br>
<label for="points" style="margin-left: 22%;"><strong>Enter Leader Point:</strong></label><input  id="points" type="text" style="border: none; margin-left: 22%;">    

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()" style="margin-left: 55%; width: 20%;">Close</button>
    <button class="mat-raised-button" (click)="close()" style="margin-left: 1%; width: 20%;">Add</button>
</mat-dialog-actions>
</div>