<!DOCTYPE html>
<html>
      <head>
            <title>Leader Board</title>
      </head>
      <body>
            <h1 class="heading1"><strong>Leaderboard App</strong></h1>
            <br>
            <button class="addLeader"  (click)="openDialog()">Add Leader</button>
            <br>
            <div class="row rowMarginTop">
                  <div class="col-sm-5 column" >
                    <div class="nestedColumn" *ngFor="let item of arr">
                         <app-leaderboard></app-leaderboard>
                    </div>
                  </div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-5 column">
                    <div class="nestedColumn" *ngFor="let item of arr">
                    <app-leaderboard></app-leaderboard>
                    </div>
                  </div>
            </div>
      </body>
</html>
